    body{
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;
   
    
}
.main{
    display: flex;
    background-color: darkslategray;
   padding: 10px;
    
}
   
.main h1 a{
    
    color: #fff;
    padding: 0%;
    /* border: 20px; */
    /* border-color: beige; */
    text-decoration: none;
    align-items: center;
    margin-left: 80px;
    font-size:medium;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    
}
.main h1 a:hover{
    color: aquamarine;
}   

.sbar{
    margin-top: 5%;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.prod {
    display: flex;
}

.prod .sdow .img{
    margin-top: 2%;
    box-shadow: 0px 3px 30px black;
    border-radius: 15px;
    height: 6.5cm;
    width: 40%;
   
    cursor: pointer;
}

.btn{
    margin-top: 2%;
    justify-content: space-evenly;
    
    
}
.btn1{
    width: 30%;
    border-radius: 12px;
    padding-top: 1%;cursor: pointer;
    padding-bottom: 1%;
}
.btn2{
   
    width: 30%;border-radius: 12px;
    padding-top: 1%;cursor: pointer;
    padding-bottom: 1%;
   
}
.btn3{
    width: 30%;border-radius: 12px;
    padding-top: 1%;cursor: pointer;
    padding-bottom: 1%;
}
.btn1:hover{
    background-color: black;
    color: #00ff7f;
    transition: 0.6s;
    transform: scale(1.3);
    
}
.btn2:hover{
    background-color: black;
    color: #00ff7f;
    transition: 0.6s;
    transform: scale(1.3);
    
}
.btn3:hover{
    background-color: black;
    color: #00ff7f;
    transition: 0.6s;
    transform: scale(1.3);
    
}
.prod{
    display: flex;
}
.prod .img{
    margin-top: 2%;
   
    border-radius: 15px;
    padding-top: 1%;
    
    height: 6.5cm;
    cursor: pointer;
}

.prod .img:hover{
    transform: scale(1.1);
    transition: 0.6s;
}


.btn4{
    margin-left: 27%;width: 8%;border-radius: 12px;
    padding-top: 1%;cursor: pointer;
    padding-bottom: 1%;
}
.btn4:hover{
    background-color: black;
    color: #00ff7f;
    transition: 0.6s;
    transform: scale(1.3);
    
}
.title{
    background-image: url(/mockup-three-smart-watches_125540-1663.png);
    padding-bottom: 9%;
    box-shadow: 0px 3px 30px black;
    padding-top: 1%;
    
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20%;
    border-radius: 15px;
    
}
.title h2{
    box-shadow: 0px 3px 30px black;
    width: 40%;
    background-color: white;
    border-radius: 15px;
}
.box
{
    box-shadow: 0px 3px 30px black;
    width: 60%;
    margin-top: 6%;border-radius: 16px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: lightpink;
    color: black;
}
.box2
{
    box-shadow: 0px 3px 30px black;
    width: 60%;margin-top: 6%;border-radius: 16px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    background-color: lightpink;
    color: black;
}
.contdes{
    margin-top: 3%;
}
.contdes p{
    margin-left: 3%;
}
.custneeds{
    box-shadow: 0px 3px 30px black;
    width: 40%;
    margin-top:1%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
    margin-bottom: 2%;
    background-color: lightpink;
}
.custneeds .name{
    width: 60%;
    margin-bottom: 6%;
    margin-left: 9%;
    border-radius: 10px;
    padding: 2%;
}
.custneeds .mail{
    width: 60%;
    margin-bottom: 6%;margin-left: 8%; border-radius: 10px; padding: 2%;
}
.custneeds .pnum{
    width: 60%; border-radius: 10px; padding: 2%;
    margin-bottom: 6%;
    
    
}
.custneeds .areatex{
    margin-left: 2%; 
}
.custneeds .submit{
    margin-top: 9%;
    width: 40%;
    border-radius: 12px;
    padding: 2%;
    background-color: black;
    color: #00ff7f;
    cursor: pointer;
}
.areatex{
   margin-right: 4%;
   border-radius: 15px;
   margin-top: 3%;
   width: 60%;
}

.awardlist{
    display: flex;
    margin-top: 3%;
    margin-bottom:5% ;
    padding-bottom: 2%;
    
    
}
.awardlist .awardlist1{
    box-shadow: 0px 3px 30px black;
    width: 30%;
    border-radius: 15px;
    margin-left: 17%;
    background-color: lightpink;
   
}
.awardlist .awardlist2{
    box-shadow: 0px 3px 30px black;
    width: 30%;
    border-radius: 15px;margin-left: 5%; background-color: lightpink;
}
.sdow{
    box-shadow: 0px 3px 30px black;
    width:30%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 3%;
    margin-top: 5%;border-radius: 15px;
    margin-bottom: 2%;
}
.part{
    background-color: cadetblue;
    
}
.frame{
    background-color: cadetblue;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    margin-top: 6%;
}
.submit:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.contform { 
    background-color:cadetblue;
   padding-top: 20px;
    padding-bottom: 1%;
        margin-top: 3%;
        margin-bottom: 2%;
    }
.contform .exp{
   
    margin-top: 10%;
    
}